<div style="padding: 0.5rem">
  <div
    style="display: flex; flex-direction: row; align-items: center; gap: 1rem"
  >
    <a href="/"><---- zpět</a>
    <h1>TUDŮČKO</h1>
  </div>

  <br />

  <% const priorityColor = todo.priority === 'high' ? '#ff0000' : todo.priority
  === 'normal' ? '#ffcc00' : '#008000'; console.log('debug me', priorityColor)
  %>

  <div>
    <%= todo.title %> -
    <strong
      style="color: <%= todo.priority === 'high' ? '#ff0000' : todo.priority === 'normal' ? '#ffcc00' : '#008000'; %>"
      >Priorita: <%= todo.priority %></strong
    >
    <form
      method="GET"
      action="/toggle-todo/<%= todo.id %>"
      style="display: inline"
    >
      <label for="done">Hotovo?</label>
      <input type="checkbox" name="done" onchange="this.form.submit()" <%=
      todo.done ? 'checked' : '' %> />
      <input type="hidden" name="id" value="<%= todo.id %>" />
    </form>
    <a href="/remove-todo/<%= todo.id %>">odebrat</a>
  </div>
  <br />

  <form method="post" action="/edit-todo/<%= todo.id %>">
    <input placeholder="Název todo" aria-label="Name" name="title" />
    <button type="submit">Upravit název</button>
  </form>

  <form method="post" action="/update-priority/<%= todo.id %>">
    <select name="priority" id="priority">
      <option value="low">Low</option>
      <option value="normal">Normal</option>
      <option value="high">High</option>
    </select>
    <button type="submit">Změnit prioritu</button>
  </form>
</div>
