<ul>
  <% for (const todo of todos) { %>
  <li>
    <div>
      <a href="/todo/<%= todo.id %>"><%= todo.title %></a> -
      <strong
        style="color: <%= todo.priority === 'high' ? '#ff0000' : todo.priority === 'normal' ? '#ffcc00' : '#008000'; %>"
        >Priorita: <%= todo.priority %></strong
      >
      <form
        method="POST"
        action="/toggle-todo/<%= todo.id %>"
        style="display: inline"
      >
        <label for="done">Hotovo?</label>
        <input type="checkbox" name="done" onchange="this.form.submit()" <%=
        todo.done ? 'checked' : '' %> />
        <input type="hidden" name="id" value="<%= todo.id %>" />
      </form>
      <a href="/remove-todo/<%= todo.id %>">odebrat</a>
    </div>
  </li>
  <% } %>
</ul>
